.marksHolder{
    width:100%;
    height: 370px;
    overflow: hidden;
}
.modify{
    margin-left: 20px;
    height: 60px;
}
.Column{
    padding-left: 50px;
}
.nameHolder{
    height:  270px;
    overflow-y: scroll;
}
.HolderSth{
    height:  270px;
    overflow-y: scroll;
}